.master {
    background-image: url(../pics/blockBlack.jpg);
    height: 100vh;
    
    /* display: flex; */

}

.message {
    /* background-color: rgb(92, 69, 69); */
    width: 30vw;
    /* height: 16vh; */
    margin-left: 35vw;
    margin-top: 3.5vh;
    /* opacity: 80%; */
}

.Title {
    font-size: 400%;
    color: white;
}