.master {
    background-image: url(../pics/blockBlack.jpg);
    height: 90.6vh;
    display: block;
    /* margin:0%; */
    /* display: flex; */

}

.select {
    padding:1%;
}

.Title {
    font-size: 400%;
    color: white;
    display:inline-block;
    cursor:default;
    /* margin:auto; */
    width: auto;
}

.subtitle {
    color:antiquewhite;
}